<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html ng-app="flapperNews">

<head>

	<title>Gotcha!</title>

	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="../javascripts/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="shortcut icon" href="/images/pencil.png">
    <link href="http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">


</head>

<body>

	<br/>
	<br/>
	<h1 id="gotchaHeading"> Gotcha! </h1>
	<section id="homeSection">
		<form class="classGroup" ng-submit="">
			<div class="homesection">
				<input name="data" class="input" placeholder="Class Name" autocomplete="off" ng-model="className"></input>
				<a title="Create" id="create" href="#/questions" ng-click="setClassName()">
					<div id="createbutton" style="margin: auto">
						<div id="little">Create or Join a Private</div>
						<div id="big">CLASSROOM!</div>
					</div>
				</a>
			</div>
		</form>
	</section>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script>
			// var socket = io.connect();
			// $('#create').click(function(){
			// 	if(!$('.input').val()) {return;}
			// 	$('.classGroup').submit();
			// });
	</script>

</body>
</html>
